block body
    div.backdrop
    header.main-header
        button#side-menu-toggle Menu
        nav.main-header__nav
            ul.main-header__item-list
                li.main-header__item
                    a(href="/", class=(path === '/' ? 'active' : '')) Shop
                li.main-header__item
                    a(href="/products", class=(path === '/products' ? 'active' : '')) Products
                li.main-header__item
                    a(href="/cart", class=(path === '/cart' ? 'active' : '')) Cart
                li.main-header__item
                    a(href="/orders", class=(path === '/cart' ? 'active' : '')) Orders
                li.main-header__item
                    a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Product
                li.main-header__item
                    a(href="/admin/products", class=(path === '/admin/products' ? 'active' : '')) Admin Product
        nav.mobile-nav
            ul.mobile-nav__item-list
                li.mobile-nav__item
                    a.path(class=(path === '/' ? 'active' : '') href='/') Shop
                li.mobile-nav__item
                    a.path(class=(path === '/products' ? 'active' : '') href='/products') Products
                li.mobile-nav__item
                    a.path(class=(path === '/cart' ? 'active' : '') href='/cart') Cart
                li.mobile-nav__item
                    a.path(class=(path === '/cart' ? 'active' : '') href='/orders') Orders
                li.mobile-nav__item
                    a.path(class=(path === '/admin/add-product' ? 'active' : '') href='/admin/add-product') Add Product
                li.mobile-nav__item
                    a.path(class=(path === '/admin/products' ? 'active' : '') href='/admin/products') Admin Products
    script(src="/js/main.js")
    block content